In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [4]:
import pickle

In [5]:
# load pickle data
df = pickle.load(open('./data/dataframe_images_100_100.pickle','rb'))

In [6]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188.0,180.0,184.0,188.0,173.0,179.0,192.0,178.0,216.0,...,109.0,111.0,115.0,116.0,122.0,116.0,119.0,120.0,117.0,111.0
1,female,32.0,24.0,32.0,27.0,29.0,29.0,29.0,32.0,36.0,...,58.0,47.0,27.0,33.0,22.0,28.0,22.0,36.0,62.0,17.0
2,female,22.0,30.0,39.0,36.0,30.0,61.0,11.0,17.0,10.0,...,156.0,171.0,177.0,186.0,176.0,185.0,186.0,190.0,177.0,177.0
3,female,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,...,75.0,82.0,90.0,92.0,86.0,70.0,89.0,84.0,84.0,74.0
4,female,86.0,86.0,71.0,54.0,45.0,49.0,33.0,20.0,18.0,...,35.0,34.0,32.0,32.0,30.0,32.0,34.0,34.0,33.0,30.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5461 entries, 0 to 6057
Columns: 10001 entries, gender to 9999
dtypes: float64(10000), object(1)
memory usage: 416.7+ MB

In [11]:
# checking for missing values
df.isnull().sum()

gender     0
0         10
1         10
2         10
3         10
          ..
9995      10
9996      10
9997      10
9998      10
9999      10
Length: 10001, dtype: int64

# Data Preprocessing
- Remove missing
- Data Normalization (min max scalling)

In [12]:
# removing missing values
df.dropna(axis=0,inplace=True)

In [13]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [14]:
# split the into two parts
X = df.iloc[:,1:].values # inpendent features
y = df.iloc[:,0].values # dependent

In [15]:
X.shape

(5451, 10000)

# Min Max Scalling 
## Xnorm = $\frac {x - minValue} { maxValue - minValue}$

In [16]:
X.min() , X.max()

(0.0, 255.0)

In [17]:
Xnorm = X / X.max()

In [18]:
Xnorm

array([[0.7372549 , 0.70588235, 0.72156863, ..., 0.47058824, 0.45882353,
        0.43529412],
       [0.1254902 , 0.09411765, 0.1254902 , ..., 0.14117647, 0.24313725,
        0.06666667],
       [0.08627451, 0.11764706, 0.15294118, ..., 0.74509804, 0.69411765,
        0.69411765],
       ...,
       [0.09803922, 0.09803922, 0.10196078, ..., 0.11764706, 0.12156863,
        0.13333333],
       [0.08235294, 0.10588235, 0.12156863, ..., 0.07843137, 0.08627451,
        0.09803922],
       [0.01568627, 0.01176471, 0.00784314, ..., 0.35294118, 0.35294118,
        0.36470588]])

In [19]:
Xnorm.shape

(5451, 10000)

In [25]:
# female = 1, male = 0
y_norm = np.where(y=='female',1,0)

In [27]:
# save x and y in numpy zip
np.savez('./data/data_10000_norm.npz',Xnorm,y_norm)